# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environnements virtuels
venv/
.env/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fichiers générés (modèles)
*.pkl
*.joblib
